## Observations and Insights

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouseData = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
mouseData

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice.
nMice = mouseData["Mouse ID"].count()
nMice

1893

In [27]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicateRowsDF = mouseData[mouseData.duplicated(["Mouse ID","Timepoint"])]
duplicateRowsDF

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [28]:
# Optional: Get all the data for the duplicate mouse ID.

In [29]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
uniqueData = mouseData.drop_duplicates(["Mouse ID", "Timepoint"])
uniqueData

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [30]:
# Checking the number of mice in the clean DataFrame.
nUniqueMice = uniqueData["Mouse ID"].count()
nUniqueMice

1888

## Summary Statistics

In [61]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
tumorVol = uniqueData[["Drug Regimen", "Tumor Volume (mm3)"]]
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
regimenGroups = tumorVol.groupby("Drug Regimen")
regimenGroups

     Drug Regimen  Tumor Volume (mm3)
0        Ramicane           45.000000
1        Ramicane           38.825898
2        Ramicane           35.014271
3        Ramicane           34.223992
4        Ramicane           32.997729
...           ...                 ...
1888     Naftisol           63.145652
1889     Naftisol           65.841013
1890     Naftisol           69.176246
1891     Naftisol           70.314904
1892     Naftisol           73.867845

[1888 rows x 2 columns]

In [54]:
# mean, median, variance, standard deviation, and SEM of the tumor volume.
meanGroupby = regimenGroups.mean()
medianGroupby = regimenGroups.median()
varGroupby = regimenGroups.var()
stdevGroupby = regimenGroups.std()
semGroupby = regimenGroups.sem()

print("Mean =\n", meanGroupby,"\n")
print("Median =\n", medianGroupby,"\n")
print("Variance =\n", stdevGroupby,"\n")
print("Standard Deviation =\n", stdevGroupby,"\n")
print("SEM =\n", semGroupby)

Mean =
               Tumor Volume (mm3)
Drug Regimen
Capomulin              40.675741
Ceftamin               52.591172
Infubinol              52.884795
Ketapril               55.235638
Naftisol               54.331565
Placebo                54.033581
Propriva               52.393463
Ramicane               40.216745
Stelasyn               54.233149
Zoniferol              53.236507

Median =
               Tumor Volume (mm3)
Drug Regimen
Capomulin              41.557809
Ceftamin               51.776157
Infubinol              51.820584
Ketapril               53.698743
Naftisol               52.509285
Placebo                52.288934
Propriva               50.909965
Ramicane               40.673236
Stelasyn               52.431737
Zoniferol              51.818479

Variance =
               Tumor Volume (mm3)
Drug Regimen
Capomulin               4.994774
Ceftamin                6.268188
Infubinol               6.567243
Ketapril                8.279709
Naftisol                8.134708
Placebo                 7.821003
Propriva                6.568014
Ramicane                4.846308
Stelasyn                7.710419
Zoniferol               6.966589

Standard Deviation =
               Tumor Volume (mm3)
Drug Regimen
Capomulin               4.994774
Ceftamin                6.268188
Infubinol               6.567243
Ketapril                8.279709
Naftisol                8.134708
Placebo                 7.821003
Propriva                6.568014
Ramicane                4.846308
Stelasyn                7.710419
Zoniferol               6.966589

SEM =
               Tumor Volume (mm3)
Drug Regimen
Capomulin               0.329346
Ceftamin                0.469821
Infubinol               0.492236
Ketapril                0.603860
Naftisol                0.596466
Placebo                 0.581331
Propriva                0.525862
Ramicane                0.320955
Stelasyn                0.573111
Zoniferol               0.516398

In [56]:
# Assemble the resulting series into a single summary dataframe.
#groupbyStats = pd.DataFrame({["Mean"]:[meanGroupby]})

TypeError: unhashable type: 'list'

In [63]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
tumorVol.groupby("Drug Regimen").agg("Tumor Volume (mm3)")

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen